NOTION_TOKEN=ntn_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_DB_ID=35eef9a0-cd0e-80aa-b3d2-dca1c558437e
SITE_ROOT=/Users/asamin/CascadeProjects/corporate-website
PORT=3001
CF_PROJECT_NAME=a-inc-corporate
